

  .carousel-item {
    flex: 0 0 100%; /* Each item takes the full width of the container */
    text-align: center;
    transition: transform 0.1s ease; /* Smooth transition between items */
    margin-right: 15px; /* Adjust the spacing between items as needed */
  }
  
  
  .carousel-item {
    flex: 0 0 100%;
    text-align: center;
    position: relative;
    transition: opacity 0.5s ease-in-out;
  }
  
  .carousel img {
    max-width: 100%;
    height: auto;
  }
  
  .carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
  }
  